.container {
  border: none;
  color: #c2e9e0;
  cursor: pointer;
}

.default {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: linear-gradient(180deg, #1f584b, #17493d);

  &:hover {
    background: linear-gradient(180deg, #1b5346, #113c32);
  }
}

.alternate {
  background: transparent;

  &:hover {
    background: transparent;
    color: #91e1d0;
  }
}
